<div class="row">
    <div class="col-12">
        <div class="card request-block" data-status="{{this.status}}">
            <div id="request-header" class="card-header request-header" data-target="#collapse-{{this.id}}">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-1">
                        ID: <span class="bold">{{this.id}}</span>
                    </div>
                    <div class="col-6 col-lg-3 text-md-right text-lg-left">
                        Requested on: <span class="req-on bold">{{this.reqOn}}</span>
                    </div>
                    <div class="col-6">
                        Freight method: <span class="bold">{{this.freightMethod}}</span>
                    </div>
                    <div class="col-6 col-lg-2 status">
                        Status: <span class="bold">{{this.status}}</span>
                    </div>
                </div>
            </div>

            <div id="collapse-{{this.id}}" class="collapse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <!-- Customer -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Customer:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    value="{{this.customerName}}" style="background-color: white;"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                            <!-- Contact -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Contact:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    value="{{this.customerContact}}" style="background-color: white;"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                            <!-- Phone -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    style="background-color: white;" value="{{this.customerPhone}}"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pb-3 pb-md-0">
                            <!-- Customer address -->
                            <label for="destinationAddress">Customer Address:</label>
                            <textarea class="form-control" id="destinationAddress" rows="3"
                                style="resize:none; background-color: white; white-space: pre-line;"
                                readonly>{{this.customerAddress}}</textarea>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!-- IBT -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">IBT:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    value="{{this.ibt}}" style="background-color: white;"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                            <!-- Proforma -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Proforma:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    value="{{this.proforma}}" style="background-color: white;"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                            <!-- Branch -->
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Branch:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    value="{{this.requireBranch}}" style="background-color: white;"
                                    aria-describedby="inputGroup-sizing-sm" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 notes-section pb-3 pb-lg-0">
                            <!-- Notes -->
                            <label for="notes-list">Notes:</label>
                            <div id="notes-list-{{this.id}}" class="notes-list">
                                <ul>
                                    <li><span class="bold">Requested by: </span>{{this.reqBy}}<br /><span
                                            class="bold">From branch: </span>{{this.requestBranch}}</li>
                                    {{#each this.notes}}
                                    <li><span class="bold">{{this.user}}: </span>{{this.note}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="input-group">
                                <input class="form-control notes-input" id="add-note-{{this.id}}"
                                    data-target="{{this.id}}" style="resize:none;" placeholder="Enter any additional notes here"></input>
                                <span>
                                    <button class="btn btn-primary submit-note-btn"
                                        data-target="{{this.id}}">Submit</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row freight-section">
                                {{!-- <div class="col-4">
                                    <button class="btn btn-light refresh-notes-btn">Refresh Notes</button>
                                </div> --}}
                                <div class="col-12">
                                    <!-- Freight cost allocation -->
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Freight cost
                                                allocation:</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Sizing example input"
                                            value="{{this.freightCost}}" style="background-color: white;"
                                            aria-describedby="inputGroup-sizing-sm" readonly>
                                    </div>
                                    <!-- Freight acc number -->
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Freight acc
                                                number:</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Sizing example input"
                                            value="{{this.freightAcc}}" style="background-color: white;"
                                            aria-describedby="inputGroup-sizing-sm" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 parts-section">
                                    <!-- Parts -->
                                    <label for="parts">Parts:</label>
                                    <textarea class="form-control" id="parts" rows="8"
                                        style="resize:none; background-color: white; white-space: pre-line;"
                                        readonly>{{this.parts}}</textarea>
                                </div>
                                <div class="col-4 status-section">
                                    <!-- Status -->
                                    Status:
                                    <ul>
                                        <li><button class="btn btn-danger alert-btn" data-target="{{this.id}}" data-id="1">Alert</button></li>
                                        <li><button class="btn btn-danger resolved-btn" style="display:none;" data-target="{{this.id}}" data-id="2">Resolved</button></li>
                                        <li><button class="btn btn-light edit-btn" data-target="{{this.id}}">Edit</button></li>
                                        <li><button class="btn btn-success complete-btn" data-target="{{this.id}}" data-id="3">Complete</button></li>
                                        <li><button class="btn btn-light incomplete-btn" style="display:none;" data-target="{{this.id}}" data-id="2">Incomplete</button></li>
                                        <li><button class="btn btn-warning archive-btn" style="display:none;" data-target="{{this.id}}" data-id="4">Archive</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        originNotes.push({ id: '{{{this.id}}}', note: '{{{this.rawNotes}}}' });
    </script>
</div>