 <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" data-target="#collapse{{this.dataValues.id}}">
                        <div class="row">
                            <div class="col-1">
                                id: {{this.dataValues.id}}
                            </div>
                            <div class="col-3">
                                Requested by:
                            </div>
                            <div class="col-3">
                                Requested on:
                            </div>
                            <div class="col-3">
                                Freight method:
                            </div>
                            <div class="col-2">
                                Status
                            </div>
                        </div>
                    </div>

                    <div id="collapse{{this.dataValues.id}}" class="collapse">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <label for="destinationAddress">Destination Address:</label>
                                    <textarea class="form-control" id="destinationAddress" rows="3"
                                        style="resize:none; background-color: white;"
                                        readonly>45 harvest lakes blvd</textarea>
                                </div>
                                <div class="col-4">
                                    Freight method:
                                </div>
                                <div class="col-2">
                                    IBT:
                                </div>
                                <div class="col-2">
                                    Proforma:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 notes-section">
                                    <label for="notes">Notes:</label>
                                    <textarea class="form-control" id="notes" rows="6"
                                        style="resize:none; background-color: white;" readonly>{{this.dataValues.notes}}</textarea>
                                    <div class="input-group">
                                        <input class="form-control" id="add-note{{this.dataValues.id}}"
                                            style="resize:none;"></input>
                                        <span>
                                            <button class="btn btn-primary">Submit</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 parts-section">
                                    <label for="parts">Parts:</label>
                                    <textarea class="form-control" id="parts" rows="8"
                                        style="resize:none; background-color: white;" readonly>{{this.dataValues.parts}}</textarea>
                                </div>
                                <div class="col-2 status-section">
                                    Status:
                                    <ul>
                                        <li><button class="btn btn-danger">Issue</button></li>
                                        <li><button class="btn btn-light">Placeholder</button></li>
                                        <li><button class="btn btn-light">Placeholder</button></li>
                                        <li><button class="btn btn-success">Complete</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>